.inputWrapper {
  margin: 20px;
}
.wrapper {
  border: 1px solid black;
  width: 350px;
  margin: 1px auto;
  padding: 20px 0;
  background-color: #2884c3;
}
.label {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
}
.formButton {
  display: block;
  margin: 0 auto;
  align-self: center;
}
